.home-recent-history{
	-fx-background-color: #FF8350;
	-fx-border-radius: 3 3 0 0;
  	-fx-background-radius: 3 3 0 0;
}

.home-recent-history-name{
	-fx-font-size: 16;
	-fx-font-weight: bold;
	-fx-text-fill: white;
}

.home-recent-history-label{
	-fx-font-size: 12;
	-fx-text-fill: white;
}

.list-view {
  -fx-background-insets: 0;
  -fx-padding: 0;
}