.main-title{
	-fx-background-color: #62677E;
	-fx-text-fill: white;
	-fx-text-alignment: center;
	-fx-font-size: 20;
}

.left-panel{
	-fx-background-color: white;
}

.left-panel-item{
	-fx-background-color: #62677E;
}

.left-panel-item:hover{
	-fx-background-color: #BEC6E8;
}

.left-panel-item:pressed{
	-fx-background-color: #00A0A3;
}

.left-panel-label{
	-fx-font-size: 14;
	-fx-text-fill: white;
}

.left-title{
	-fx-background-color: #141C3E;
	-fx-font-size: 14;
	-fx-font-weight: bold;
	-fx-text-fill: white;
}